.header_container{
  display: flex;
  flex-direction: column;

}

.header__contact{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #0FC2C0;
}

.header__contact div{
  width: 50%;
}

.header__phone ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
  color: #f2f2f2;
  align-items: center;
}

.header__phone ul li{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__email ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: flex-end;
  color: #f2f2f2;
  align-items: center;
}

.header__phone ul li img{
  width: 20px;
  height: 20px;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header__content{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.header__content img{
  padding: 0;
  margin: 0;
  width: 150px;
  height: 70px;
}

.header nav{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.header ul{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header ul li a:hover{
  display: inline-block;
  transform: scale(1.2);
  transition: 0.5s;
  color: #0FC2C0;
  
}

.main{
  height: 100%;
  width: 100%;
}

.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  background-image: url(../app/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 70px;
}

.Home div{
  width: 50%;
}

.Home .Home__image{
  width: 50%;
  height: 80%;
  border-radius: 50%;
  background-image: url(./assets/psicologa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px 0 rgba(191, 191, 191, 0.5);
  border: 2px solid #000000;
}

.Home .Home__agenda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  padding: 70px;
}

.Home .Home__agenda h2{
  font-size: 50px;
  font-weight: 700;
  color: #0FC2C0;
}

.Home .Home__agenda p{
  font-size: 20px;
  font-weight: 400;
}

.Home .Home__agenda button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0FC2C0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  width: 30%;
}

.Home .Home__agenda button:hover{
  background-color: #008F8C;
  transform: scale(1.1);
  transition: 0.5s;
}

.Sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #2f2f2f;
  padding: 70px;
  height: 100%;
}

.Sobre .Sobre__image{
  height: 400px;
  background-image: url(./assets/book.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Sobre .Sobre__image{
  width: 40%;
  background-image: url(./assets/book.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Sobre .Sobre__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 60%;
  padding: 30px;
}

.Sobre .Sobre__text h2{
  font-size: 50px;
  font-weight: bold;
  color: #0FC2C0;
}

.Sobre .Sobre__text p{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.Avaliacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #2f2f2f;
  padding: 70px;
  overflow: hidden;
}

.Avaliacoes h2{
  margin-bottom: 20px;
  font-size: 50px;
  color: #0FC2C0;
}

.carousel-container {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  flex: 0 0 100%; 
  height: 100%;
  box-sizing: border-box;
  padding: 70px;
  text-align: center;
  color: #2f2f2f;
  margin: 0;
  
}

.carousel-slide p {
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.carousel-slide h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.ajuda{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  height: 100%;
  gap: 20px;
  font-size: 20px;
  padding: 70px;
  font-weight: 300;
  color: #2f2f2f;
  text-align: center;
  
  background-image: url(./assets/blueBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0FC2C0;
  background-blend-mode: screen;
}

.ajuda h2{
  font-size: 50px;
  font-weight: bold;
  color: #f2f2f2;

}

.ajuda article{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
  gap: 20px;
}

.ajuda article div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  gap: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
}

.ajuda article div img{
  height: 50px;
  width: 50px;
}

.ajuda article div:hover{
  transform: scale(1.1);
  transition: 0.5s; 
}

.explicacao{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #2f2f2f;
}

.explicacao h2{
  font-size: 50px;
  font-weight: bold;
  color: #0FC2C0;
}

.explicacao .cards{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
}

.explicacao .cards .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #2f2f2f;
}

.explicacao .cards .card:hover{
  transform: scale(1.1);
  transition: 0.5s; 
}

.explicacao .cards .card:nth-of-type(odd) {
  background-color: #0FC2C0;

  .title h3{
    color: white;
  }

  .text p{
    color: white;
  }
}


.explicacao .cards .card .image{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.explicacao .cards .card .title{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.explicacao .cards .card .title h3{
  font-size: 25px;
  color: #0FC2C0;
  text-align: center;
}


.explicacao .cards .card .text{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #2f2f2f;
}

.explicacao .cards .card img{
  height: 50px;
  width: 50px;
}

.explicacao .cards .card p{
  font-size: 15px;
  font-weight: 300;
  color: #2f2f2f;
  text-align: center;
}


.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #008F8C;
  color: #f2f2f2;
  padding-top: 70px;

  height: 100%;
  font-size: 20px;
  font-weight: 300;
}

.footer section{
  display: flex;
  width: 100%;
}

.footer article{
  width: 50%;
}

.footer form{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  padding: 5px;
}

.footer .local{
  width: 40%;
}

.footer form div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer form div label{
  font-size: 20px;
  font-weight: 300;
}

.footer form div input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
}

.footer form div textarea{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
}

.footer form button{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  background-color: #2f2f2f;
  color: white;
  transition: .5s;
  cursor: pointer;
}

.footer form button:hover{
  background-color: white;
  scale: 1.1;
  padding: 10px 20px;
  color: #2f2f2f;
}

.footer section{
  padding: 10px;
}

.footer .footer__copyright{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 300;
  background-color: #0FC2C0;
  color: white;
}

@media screen and (max-width: 840px) {

  .header__contact{
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap: 15px;
  }

  .header__contact div{
    width: 100%;
  }

  .header__phone ul{
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .header__email ul{
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }

  .header nav ul li a{
    font-size: 15px;
    font-weight: 300;
    color: #2f2f2f;
    margin-top: 5px;
  }

  .header__content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }

  .Home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  .Home .Home__agenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    order: 2;
  }

  .Home .Home__agenda button{
    width: 50%;
  }

  .Home .Home__image{
    width: 300px;
    height: 300px;
    order: 1;
  }

  .Sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 20px;
    width: 100%;
    height: 100%;
  }

  .Sobre .Sobre__image{
    width: 100%;
    height: 300px;
  }

  .Sobre .Sobre__text{
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
  }

  .ajuda{
    padding: 40px 20px;
  }

  .ajuda h2{
    font-size: 50px;
  }

  .ajuda article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    font-weight: bold;
    font-size: 40px !important;
    padding: 10px;
  }

  .ajuda article div{
    width: 100%;
  }

  .Avaliacoes{
    padding: 70px 20px;
  
  }

  .Avaliacoes .carousel-slide{
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  .explicacao{
    padding: 40px 20px;
  }

  .explicacao h2{
    font-size: 50px;
    text-align: center;
  }

  .explicacao .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    font-weight: bold;
    font-size: 40px !important;
    padding: 10px;
  }

  .explicacao .cards div{
    width: 100%;
  }

  .explicacao .cards .card p{
    font-size: 15px;
    text-align: justify !important;
  }


  .footer section{
    display: flex;
    flex-direction: column;
  }

  .footer article{
    width: 100%;
  }

  .footer .local{
    width: 100%;
  }

  .footer .footer__copyright{
    font-size: 15px;
  }

}